@page "/"
@inject GamesClient Client

<PageTitle>Game Catalog</PageTitle>

<div class="mt-2 text-end">
    <a href="/editgame" class="btn btn-primary">+ New Game</a>
</div>

@if(games is null) {
    <p><em>Loading...</em></p>
}

else
{
    <table class="table table-striped table-hover mt-3">
        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th> 
            <th>Genre</th>
            <th class="text-end">Price</th>
            <th class="text-end">Release Date</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var game in games){
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price.ToString("C2")</td>
                    <td class="text-end">@game.ReleaseDate</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private GameSummary[]? games;

    protected override void OnInitialized()
    {
        games = Client.GetGames();
    }
}